{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <h1 class="text-center">Your account</h1>
    <div class="well">
        <div class="row">
            <div class="col-xs-3">
                <img src="{{ user.email | gravatar }}" alt="User logo" />
            </div>
            <div class="col-xs-5 col-xs-offset-2">
                <h4>{{ 'profile.show.username'|trans }}: {{ user.username }}</h4>
                {% for use in user %}
                    {{ use }}
                {% endfor %}
                <h4>{{ 'profile.show.email'|trans }}: {{ user.email }}</h4>
                <h4>Status:
                    {% if user.enabled %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </h4>
                <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Last Login: {{ user.lastLogin|date('Y-m-d H:i:s') }}</h4>
            </div>
        </div>
    </div>
</div>